<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎光临openshift</title>
</head>
<body>
<h1 align="center">我的网站JD！</h1>

<div id=JD' style="margin:20px;padding:10px">
    <input type="text" id="jd1" >合约1
    <input type="text" id="jd2" >合约2
    <h3>合约价差</h3>
    <output  type='text' id='realtimeprice' ></output>
</div>

<div id='RB' style="margin:20px;padding:10px">
    <input type="text" id="rb1" >合约1
    <input type="text" id="rb2" >合约2
    <h3>合约价差</h3>
    <output  type='text' id='RBprice' ></output>
</div>


<script type='text/javascript' src="http://hq.sinajs.cn/list=JD1801,JD1712,RB1801,RB1805"  id='jscode' charset='gb2312'></script>

<script>
    function reload(){
    var shuru1=document.getElementById('jscode').src.split('=')[1].split(',')[0];
    var shuru2=document.getElementById('jscode').src.split('=')[1].split(',')[1];
    var rbshuru1=document.getElementById('jscode').src.split('=')[1].split(',')[2];
    var rbshuru2=document.getElementById('jscode').src.split('=')[1].split(',')[3];
    document.getElementById('jd1').value=shuru1
    document.getElementById('jd2').value=shuru2
    document.getElementById('rb1').value=rbshuru1
    document.getElementById('rb2').value=rbshuru2

    var code=document.getElementById('jscode');
    if(!code) return;
    document.body.removeChild(code);
    code=document.createElement('script');
    code.src=('http://hq.sinajs.cn/list='+shuru1+','+shuru2+','+rbshuru1+','+rbshuru2);
    code.id='jscode';
    code.charset='gb2312';
    document.body.appendChild(code);
    elements=[eval('hq_str_'+shuru1).split(','),eval('hq_str_'+shuru2).split(','),eval('hq_str_'+rbshuru1).split(','),eval('hq_str_'+rbshuru2).split(',')];//按逗号分割，并返回数组
    document.getElementById('realtimeprice').value=[elements[0][6],elements[1][6],elements[0][6]-elements[1][6]];//【6】是最新价
    document.getElementById('RBprice').value=[elements[2][6],elements[1][6],elements[3][6]-elements[1][6]]

 

    }
    reload();
    setInterval(reload,2000);//每两秒钟更新一次
</script>

</body>
</html>

